# Environment variables / secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
*.log
media/
staticfiles/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db